/* valid */
._user-name {
}

/* valid */
.-user-name {
}

/* valid */
.-user-name {
}

/* not valid */
.1user-name {
}

/* not valid */
.@user-name {
}

/* not valid */
.user@name {
}

/* valid */
._user10name {
}

/* valid */
.u {
}