* {
  box-sizing: border-box;
}

.parent {
  width: 600px;
  height: 300px;
  background-color: #EEE;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 10px;
}

.parent div {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 90px;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.one {
  background-color: #FF9800;
  order: 2;
}

.two {
  order: 3;
  background-color: #8BC34A;
  align-self: flex-end;
}

.three {
  order: 4;
  background-color: #795548;
}

.four {
  order: 1;
  background-color: #673AB7;
  align-self: flex-end;
}