* {
    box-sizing: border-box;
}

.flex {

    background-color: #DDD;
    width: 800px;
    padding: 20px;
    height: 300px;
    margin: 20px auto;
    display: flex;

}

.flex div {
    background-color: red;
    color: white;
    width: 80px;
    margin: 0 5px 0 0;
    text-align: center;
    padding: 20px;

}