* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    background-color: #333;
}

.load {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px auto;
}

.load div {
    width: 20px;
    height: 20px;
    background-color: orchid;
    border-radius: 50%;
    margin: 0 5px;
    animation-name: up-and-down;
    animation-duration: .9s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

.load .two {
    animation-delay: .3s;
}

.load .three {
    animation-delay: .6s;
}

@keyframes up-and-down {

    to {
        opacity: .2;
        transform: translateY(-20px);
    }
}