div{
    background-color: #EEE;
    padding: 20px;
    margin :20px auto;
    font-size: 20px;
    width: 400px;
    
}
.modify-1{
    overflow: hidden;
    white-space: nowrap;
    border-right: 100px solid #EEE;
    width:298px;

}
.modify-2{
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}