* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
}

.grid div {
  background-color: #2196F3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
}

.eight {
  grid-row: 1 /2;
  grid-column: 1 /-1;
}

.two {
  grid-row: 2/3;
  grid-column: 1/span 2;
}

.three {
  grid-area: 2/3/3/4;
}

.four {
  grid-area: 3/1/4/span 1;
}

.five {
  grid-area: 3/2/span 3/span 2;
}

.six {
  grid-area: 4/1/5/2;
}

.seven {
  grid-area: 5/1/6/2;
}

.one {
  grid-area: 6/1/7/-1;
}