.list-container{
    width: 400px;
    margin: auto;
    background-color: white;
    list-style: none;
    padding :20px;
}

.ul-circle{
    list-style-type: circle;
    list-style-position: inside;
}
li .ol-roman{
    list-style-type:upper-roman;
}
li .ol-decimal{
    list-style-type:decimal;
}
ul li{
    margin: 10px;
    padding: 10px;
    background-color: #EEE;
}
ul li ul,
ul li ol {
    margin:5px;
    padding:5px 20px;
    background-color: #EEE;
}
ul li ol li,
ul li ul li{
    margin:5px;
    padding:5px;
    background-color: white;
}


