* {
  box-sizing: border-box;
}

.parent {
  margin: 0 auto;
  width: 600px;
  height: 300px;
  background-color: #EEE;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px 10px 10px 10px;
  flex-wrap: wrap;
  align-items: flex-end;
}

.parent div {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #009688;
  width: 30px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.parent .two {
  align-self: flex-start;
  width: 300px;
}