* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 310px 15px;
}

.grid div {
  background-color: #E91E63;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}