div{
    width:100px;
    height:100px;
    position: absolute;
}
.red{
    background-color:#f44336;
    top: 40px;
    left: 40px;
    z-index: 3;
}
.green{
    background-color:#009688;
    top:30px;
    left: 30px;
    z-index: 2;
}

.blue{
    background-color:#03a9f4;
    top: 20px;
    left: 20px;
    z-index: 1;
}
.black{
    background-color:#333333;
    top: 30px;
    left: 20px;
    z-index: 0;
}