input {
  display: block;
  width: 600px;
  height: 30px;
  background-color: #EEE;
  margin: 50px auto;
  caret-color: red;
  font-size: 1.4em;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  outline: none;
  padding: 20px 25px;
  position: relative;
}

div {
  position: relative;
}

div::before {
  content: "";
  width: 650px;
  height: 10%;
  background-image: linear-gradient(to right,
      #F44336 0%,
      #F44336 50%,
      #009688 50%,
      #009688 100%);

  position: absolute;
  bottom: -2px;
  left: 50px;
  z-index: -1;
}