div{
    width: 500px;
    margin : 20px auto;
    padding: 20px;
    background-color:rgb(138, 44, 226);
    background-color:#8a2ce2;
    background-color:hsl(271, 76%, 53%);  
}
.assign-1-shape-2{
    background-color: rgb(138 43 226 /50%);
}
.assign-1-shape-3{
    background-color: rgb(138 43 226 /10%);
}
