:root {
  --backColor: #EEE;
  --forebackColor: #DDD;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  display: flex;
  width: 100%;
  height: calc(100vh - 50px);
  background-color: var(--backColor);
  flex-flow: column wrap;

}

.logo,
.links,
.content,
.sidebar,
.footer {
  background-color: var(--forebackColor);
}

.header {
  padding: 0 10px;
  display: flex;
  width: 100%;
  height: 15%;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;

}

.links {
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  width: 90%;
  align-items: center;
  list-style: none;
  padding: 15px;
}

li {
  width: 80px;
}


.logo {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 8%;
  align-items: center;
  list-style: none;
  padding: 15px;
}

.main-area {
  padding: 0 10px;
  display: flex;
  width: 100%;
  height: 70%;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-flow: column;
  width: 60%;
  height: 100%;
  margin-right: 20px;
  text-indent: 20px;
  line-height: 50px;
}

.sidebar {
  display: flex;
  flex-flow: column;
  width: 38.5%;
  height: 100%;
  text-indent: 20px;
  line-height: 50px;
}

.footer {
  display: flex;
  flex-flow: row;
  width: calc(100% - 20px);
  height: 10%;
  justify-content: space-between;
  flex-flow: row;
  align-items: center;
  margin: 0 10px 0 10px;
}

.copyright {
  text-indent: 10px;
}

.design {
  text-indent: -150px;
}